/* Reduce margins around the main headings */
.page_header {
  margin: 10px 0 0 0;
  padding: 0;
}


/* Remove bullets from the subject list */
.subject_list {
  list-style-type: none;
}

/* Reduce margins around the subject list */
.subject_header {
  margin: 5px 0;
}


/* Reduce margins around the courses taken */
.sub_list {
  margin: 0;
}
