/* Colour file for day mode */
/* Colours:
Background: #e1e6e6
Borders: grey
Known links: #03a032
Page not found links: #996515
*/

a {
    color: #7FBBB3;
}

.not-found {
    color: #D699B6;
}

.link-button {
    color: #7FBBB3;
}

.container-background {
    background-color: #3D484D;
}

.container-border {
    border: 1px solid #7A8478;
}

.divided-table {
    border: 1px solid #7A8478;
}

.divided-table tr {
    border: 1px solid #7A8478;
}

.divided-table th {
    border: 1px solid #7A8478;
}

.divided-table td {
    border: 1px solid #7A8478;
}

.separator {
    color: #7A8478;
    background-color: #7A8478;
}

.on-page {
    color: #D3C6AA;
}

html {
    color: #D3C6AA;
    background-color: #2D353B;
    font-family: Arial, Helvetica, sans-serif;
}
