/* Describe some specific elements */
.article-header {
  text-align: left;
  margin-bottom: 0;
}

.separator {
  clear: both;
  margin: 0;
}

/* Side Info Page */
.side-info {
  float: right;
  border: 1px solid;
  background-color: #E6E6E3;
  width: 30%;
}
.side-info p {
  margin: 0;
}


/* Specific Text Styling */
.quote {
  background-color: #E6E6E3;
  text-align: center;
  border: 1px solid;
  font-style: italic;
  width: 60%;
  margin-left: 3%;
}

/* Link settings */
a {
  color: #03a032;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.not-found {
  color: red;
}


/* Page Navigation elements */
.nav-div {
  display: inline-block;
  background-color: #E6E6E3;
  overflow: auto;
  border: 1px solid;
}

/* Divided Tables */
.divided-table {
  border: 1px solid black;
  border-collapse: collapse;
}
.divided-table tr {
  border: 1px solid black;
  border-collapse: collapse;
}
.divided-table th {
  border: 1px solid black;
  border-collapse: collapse;
}
.divided-table td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  vertical-align: top;
}





/* Define some generic styling */
.left {
  float: left;
}

.right {
  float: right;
}




/* Change margins of elements */
ul {
  margin-top: 3px;
}

.heading {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


/* Navigation list settings */

.horizontal-list li {
  display: inline-block;
}

.horizontal-list li:after {
  content: '\\\\';
  margin:0 10px;
}

.horizontal-list li:last-child:after {
  content: '';
}

/* General text settings */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: #FDFCFA;
}

body {
  margin: 20px 25%;
}

footer {
  text-align: center;
}

header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
