/* Colours:
Background: #e1e6e6
Borders: grey
Known links: #03a032
Page not found links: #996515
*/


/* Links */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Buttons styled as links */
.link-button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}
.link-button:hover {
  text-decoration: underline;
}

/* Collapsible Styling */
.collapsible {
  display: block;
}

/* Quote blocks */
.quote {
  text-align: center;
  font-style: italic;
  width: 60%;
  margin-left: 3%;
  padding: 1em;
}

/* Figure Styling */
.figure-container {
  text-align: center;
}
.figure-center {
  margin-left:auto;
  margin-right:auto;
}
.figure-right {
  float: right;
  margin-left: 0.5em;
}
.figure-left {
  float: left;
}
.figure-image {
  width:95%;
  height:auto;
  object-fit:contain;
  padding:2.5% 2.5% 0% 2.5%;
}
.figure-caption {
  padding: 0% 2.5% 1% 2.5%;
}

/* Side Styling */
.side-info {
  float: right;
  width: 30%;
  margin-left: 1em;
}
.side-info p {
  margin: 0;
}

table.side-data {
  table-layout: fixed;
  width: 100%;
  font-size: small;
}

table.side-data td {
  vertical-align: top;
  word-wrap: break-word;
}

table.side-data td:nth-of-type(1) {
  width: 40%;
}

table.side-data td:nth-of-type(2) {
  width: 60%;
}

/* Page Navigation Styling */
.nav-div {
  display: inline-block;
  overflow: auto;
}

/* Divided Tables */
.divided-table {
  border-collapse: collapse;
  text-align: center;
}
.divided-table tr {
  border-collapse: collapse;
}
.divided-table th {
  border-collapse: collapse;
}
.divided-table td {
  border-collapse: collapse;
  vertical-align: middle;
  padding: 0.25em;
  word-wrap: break-word;
}

/* General Text Styling */
.heading {
  margin-bottom: 0;
}

h5 {
  font-size: medium;
}

.separator {
  margin: 0;
  height: 1px;
  border: none;
}

ul {
  margin-top: 3px;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Page Styling */

html {
  font-size: medium;
}

body {
  margin: 20px 25%;
}

footer {
  text-align: left;
}


/* For mobile */
@media all and (max-width: 1000px) {
  .figure-left, .figure-right, .side-info {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .side-info {
    margin-top: 5px;
  }
  body {
    margin: 20px 5%;
  }
  .quote {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media all and (max-width: 400px) {
  .figure-left, .figure-right, .side-info {
    width: 100%;
  }
}